/*!
 * @file
 * @group npaa
 * @author Hampus Nordin <nordin.hampus@gmail.com>
 * 
 * Admin styles for NPAA.
 * 
 * Last built: #{timestamp()}
 * 
 */

.npaa-admin-box {
  $bg-color: #fafafa;
  background: $bg-color;
  border: 1px solid darken($bg-color, 10%);
  padding: 0.5em 1em 0.8em;
}
  .npaa-admin-box__link-description {
    
  }